$handle: "contact-details";

.#{$handle} {
    @include fadeIn;
    @include space($spacing-lg, $spacing-md);
    @include pad($spacing-sm);
    background-color: $color-black;

    @media (min-width: $screen-sm-min) {
        @include space($spacing-xl, $spacing-lg);
        min-height: 100vh;
    }

    & > h2 {
        @include font("heading-md");
        @include swipeIn(true);
        @include space($spacing-sm, $spacing-md);
        position: relative;
        color: $color-bg-dk-fg-lt;

        &:before {
            @include absolute(0, 0, auto, 0);
            content: "";
            height: 2px;
            background-color: $color-br-gray-lt;
        }
    }

    &__map-cont {
        @include swipeIn(true);
        position: relative;
        overflow: hidden;
        margin-bottom: $spacing-md;

        @media (max-width: $screen-xs-max) {
            display: none;
        }

        & > img {
            @include scaleIn;
            display: block;
            width: 100%;
        }
    }

    &__details-cont {
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-sm-max) {
            flex-wrap: wrap;
        }
    }

    &__address-cont,
    &__contact-cont,
    &__hours-cont {
        color: $color-bg-dk-fg-dk;

        @media (max-width: $screen-sm-max) {
            width: 50%;
            margin-bottom: $spacing-sm;
        }

        & h3 {
            margin-bottom: $spacing-xs / 2;
            color: $color-bg-dk-fg-lt;
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                @include fadeUp($i * $i * 0.035s);
            }
        }
    }

    &__contact-cont {
        @media (max-width: $screen-sm-max) {
            order: 3;
        }
    }
}
