$handle: "header";

.#{$handle} {
    @include absolute(0, 0, auto, 0);
    z-index: 10;

    // Mobile background bar to ensure text contrast
    &:before {
        @media (max-width: $screen-xs-max) {
            @include absolute(0, 0, auto, 0);
            content: "";
            height: $spacing-lg;
            background: linear-gradient($color-bg-dk 0%, transparent);
        }
    }

    // Logo
    & > a {
        @include absolute($spacing-sm, auto, auto, $gutter-sm);
        z-index: 1;
        color: $color-white;

        @media (min-width: $screen-sm-min) {
            position: fixed;
        }
    }

    & > label {
        @include absolute($spacing-sm, $gutter-sm, auto, auto);
        z-index: 1;
        cursor: pointer;

        @media (max-width: $screen-xs-max) {
            color: $color-white;
        }

        @media (min-width: $screen-sm-min) {
            position: fixed;
        }

        @media (min-width: $screen-md-min) {
            display: none;
        }

        & > span {
            &:first-child { display: block; }
            &:last-child { display: none; }
        }
    }

    & > nav {
        @include absolute(0, 0, auto, auto);
        @include space($spacing-sm, $spacing-lg);
        @include pad($gutter-sm);
        display: flex;
        position: fixed;

        @media (max-width: $screen-sm-max) {
            @include span(5.5, "wide");
            @include space($spacing-lg);
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100vh;
            transform: translateX(100%);
            background-color: $color-black;
            color: $color-bg-dk-fg-lt;
            font-size: $spacing-sm;
            transition: transform $animate-sm;
        }

        @media (max-width: $screen-xs-max) {
            left: 0;
            width: 100%;
        }

        @media (min-width: $screen-md-min) {
            @include span(6, "wider");
            margin: 0 0 auto auto;
            background: linear-gradient($color-white 25%, transparent);
        }

        & > a {
            @include underlineLink;

            @media (max-width: $screen-sm-max) {
                @include listMargin($spacing-sm);
                display: block;
                opacity: 0;
                transform: translateY($spacing-md);
            }

            @media (min-width: $screen-md-min) {
                @include listMargin($spacing-sm, true);
            }

            &:last-child {
                @media (min-width: $screen-md-min) {
                    @include arrowLink;
                    margin: auto 0 auto auto;
                }

                & > i {
                    @media (max-width: $screen-sm-max) {
                        display: none;
                    }
                }
            }

            $links: 6;
            @for $i from 1 to $links {
                // Delayed animation:
                $animate: 0.5s ($i * 0.035s) ease-in-out;

                &:nth-child(#{$i}) {
                    @media (max-width: $screen-sm-max) {
                        transition:
                            opacity $animate-lg,
                            transform $animate;
                    }
                }
            }
        }
    }

    & > footer {
        @include absolute(auto, auto, $spacing-sm, $gutter-sm);
        position: fixed;
        opacity: 0;
        z-index: 1;
        transform: translateX(100%);
        max-width: $max-width-xs;
        color: $color-white;
        transition: opacity $animate-lg, transform $animate-lg;
        pointer-events: none;

        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    // Mobile nav active
    & > [type="checkbox"]:checked {
        & + label {
            color: $color-white;

            & > span {
                &:first-child { display: none; }
                &:last-child { display: block; }
            }
        }

        & ~ nav {
            transform: translateX(0);

            & > a {
                opacity: 1;
                transform: translateY(0);
            }
        }

        & ~ footer {
            opacity: 1;
            transform: translateX(0);
            pointer-events: auto;
        }
    }
}
