$handle: "loader";
$loading-class: "is-loading";

@keyframes loading {
    0% {
        transform-origin: right;
        transform: scaleX(1);
    }
    50% {
        transform-origin: right;
        transform: scaleX(0);
    }
    51% {
        transform-origin: left;
        transform: scaleX(0);
    }
    100% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.#{$handle} {
    position: relative;

    &:after {
        @include absolute(0, 0, auto, 0);
        content: "";
        position: fixed;
        opacity: 0;
        z-index: 100;
        height: $spacing-xs / 4;
        background-color: $color-black;
        will-change: transform;
        transition: opacity $animate-sm, transform $animate-sm;
    }

    &.#{$loading-class} {
        &:after {
            opacity: 1;
            animation: loading 1s infinite;
        }
    }
}
