$handle: "main";
$active-class: "is-active";
$unloading-class: "is-unloading";

.#{$handle} {
  position: relative;

  & > [for="grid-toggle"] {
    @include absolute(auto, 0, 0, auto);
    position: fixed;
    z-index: 10000;
    padding: ($spacing-xs / 2) $spacing-xs;
    background-color: $color-bg-gray-lt;
    cursor: pointer;
  }

  &__layout-guide-cont {
    @include container;
    @include fullOverlay;
    position: fixed;
    z-index: 10000;
    pointer-events: none;

    &__span {
      height: 100vh;
      background-color: rgba($color-br-gray-lt, 0.1);

      @include span($grid: $grid-sm);
      @include push($grid: $grid-sm);

      @media (min-width: $screen-sm-min) {
        @include span($grid: $grid-md);
        @include push($grid: $grid-md);
      }

      @media (min-width: $screen-md-min) {
        @include span($grid: $grid-lg);
        @include push($grid: $grid-lg);
      }
    }

    input[type="checkbox"]:checked + & {
      display: none;
    }
  }

  &__content {
    position: relative;
    opacity: 0;
    min-height: 100vh;
    padding-top: $nav-height-lg;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    transition: opacity $animate-lg;

    .#{$handle}.#{$active-class} & {
      opacity: 1;
    }

    .#{$handle}.#{$unloading-class} & {
      opacity: 0;
    }

    // Not sure if this is needed
    // & hr {
    //   @include span($cols: 4, $grid: $grid-sm);
    //   @include push($grid: $grid-sm);

    //   @media (min-width: $screen-sm-min) {
    //     @include span($cols: 8, $grid: $grid-md);
    //     @include push($grid: $grid-md);
    //   }

    //   @media (min-width: $screen-md-min) {
    //     @include span(10);
    //     @include push(1, "wider");
    //   }

    //   &.small {
    //     @media (min-width: $screen-md-min) {
    //       @include span(8);
    //       @include push(2, "wider");
    //     }
    //   }
    // }
  }
}

