$handle: "modal";
$active-class: "is-active";

.#{$handle} {
  @include fullOverlay;
  position: fixed;
  opacity: 0;
  z-index: -1;
  transition: z-index 0s ease $animate-speed-md;

  &.#{$active-class} {
    z-index: 100;
    opacity: 1;
    transition: none;
  }

  &[data-size="md"] {
    @include valign;
  }

  &__overlay {
    @include fullOverlay;
    background-color: rgba($color-black, 0.75);
    opacity: 0;
    transition: opacity $animate-md;

    .#{$handle}.#{$active-class} & {
      opacity: 1;
    }
  }

  &__content-cont {
    @include fullOverlay;
    background-color: #000;

    .#{$handle}[data-size="md"] & {
      @include full;
      position: relative;
      height: auto;

      @media (min-width: $screen-sm-min) {
        @include span(6, "wider", $grid-md);
        @include push(1, "wide", $grid-md);
      }

      @media (min-width: $screen-md-min) {
        @include span(10);
        @include push(1, "wider");
      }
    }
  }

  &__close-cont {
    @include absolute(0, 0, auto, 0);
    position: fixed;
    z-index: 10;
    height: $nav-height-md;

    @media (min-width: $screen-sm-min) {
      height: $nav-height-lg;
    }

    & > button {
      // @include actionButton;
      @include centerer(false, true);
      right: $gutter-sm;

      @media (min-width: $screen-sm-min) {
        right: $gutter-md;
      }

      @media (min-width: $screen-md-min) {
        right: $gutter-lg;
      }

      & > i {
        width: $spacing-xs;
        height: $spacing-xs;
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden auto;
    max-height: 100vh;
  }
}

