$handle: "next-ctas";

.#{$handle} {
    @include space($spacing-xl, $spacing-lg);
    @include pad($spacing-sm);
    display: flex;

    @media (max-width: $screen-sm-max) {
        flex-wrap: wrap;
    }

    @media (min-width: $screen-sm-min) {
        @include pad(32px);
    }

    > a {
        @include fadeUp;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        justify-content: space-between;
        margin-right: $spacing-xs;
        padding: $spacing-sm;
        background-color: $color-black;
        color: $color-white;

        @media (max-width: $screen-sm-max) {
            @include listMargin($spacing-xs);
            flex-basis: 100%;
            width: 100%;
        }

        & > h3 {
            @include swipeIn(true);
            @include font("body-lg");
        }

        & > em {
            @include swipeIn(true);
            @include arrowLink(true);
            margin-top: $spacing-lg;
        }
    }
}
