$handle: "ordered-list";

.#{$handle} {
    @include pad($spacing-sm);

    & > ul {
        & > li {
            @include space($spacing-sm, $spacing-md);
            border-top: 2px solid $color-br-gray-lt;
            display: flex;
            justify-content: space-between;

            & > div {
                @media (min-width: $screen-md-min) {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

                & > em {
                    @include font("number");
                    color: $color-bg-lt-fg-lt;
                }

                & > h2 {
                    @include font("heading-sm");
                    width: 50%;
                    max-width: $max-width-sm;
                    margin-bottom: $spacing-xs;
                }
            }

            & > p {
                max-width: $max-width-sm;
                font-weight: bolder;
            }
        }
    }
}
