$handle: "ordered-list";

.#{$handle} {
    @include pad($spacing-sm);

    & > h2 {
        @include font("heading-md");
        @include space($spacing-sm, $spacing-md);
        border-top: 2px solid $color-br-gray-lt;
    }

    & > ol {
        & > li {
            @include space($spacing-sm, $spacing-md);
            border-top: 2px solid $color-br-gray-lt;
            display: flex;
            justify-content: space-between;
        }
    }

    &__heading-cont {
        display: flex;

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
        }

        @media (min-width: $screen-md-min) {
            width: 100%;
        }

        & > em {
            @include font("number");
            color: $color-bg-lt-fg-lt;

            @media (max-width: $screen-sm-max) {
                order: 2;
                min-width: $spacing-xl;
            }

            @media (min-width: $screen-md-min) {
                width: 50%;
            }
        }

        & > h2 {
            @include font("heading-sm");
            max-width: $max-width-sm;
            margin-bottom: $spacing-xs;
        }
    }

    &__body-cont {
        max-width: $max-width-sm;
        padding-left: $spacing-sm;
    }
}
