$handle: "overview-teasers";

.#{$handle} {
    @include pad($spacing-sm);
    padding-bottom: $spacing-xl;

    &__teaser-cont {
        @include listMargin($spacing-lg);

        @media (min-width: $screen-md-min) {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }

        &__image-cont {
            @include swipeIn;
            position: relative;
            overflow: hidden;

            @media (max-width: $screen-sm-max) {
                margin-bottom: $spacing-md;
            }

            & > img {
                @include scaleIn;
                display: block;
                width: 100%;
            }
        }

        &--stat-teaser {
            @media (max-width: $screen-sm-max) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
            }

            & > em {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-right: $spacing-sm;

                @media (max-width: $screen-sm-max) {
                    width: calc(40% - #{$spacing-sm});
                }

                & > small {
                    @include swipeIn;
                    left: -1em;
                    bottom: -2.5em;
                    transform: rotate(270deg);
                    width: $spacing-sm * 3;
                    font-weight: $font-weight-bd;
                    text-transform: uppercase;
                }

                & > strong {
                    @include swipeIn;
                    @include font("number");
                    padding-left: $spacing-xs * 3;
                }
            }

            & > div:nth-of-type(1) {
                @media (max-width: $screen-sm-max) {
                    width: 60%;
                }

                @media (min-width: $screen-md-min) {
                    order: 3;
                }
            }
        }

        &__text-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            @media (min-width: $screen-md-min) {
                @include pad($spacing-sm);
                max-width: $max-width-xs;
            }

            & > h2 {
                @include fadeUp;
                max-width: $max-width-sm;
            }

            & > a {
                @include arrowLink;
                @include swipeIn;
                margin-top: $spacing-sm;
            }
        }
    }
}
