$handle: "page-heading";

.#{$handle} {
    @include space($spacing-md);
    @include pad($spacing-sm);
    max-width: $max-width-md;

    @media (min-width: $screen-sm-min) {
        @include space($spacing-xl, $spacing-lg);
    }

    & > h1 {
        @include font("heading-lg");
    }

    & > p {
        @include font("body-lg");
        margin-top: $spacing-sm;
    }
}
