$handle: "page-heading";

.#{$handle} {
    @include space($spacing-xs * 3);
    @include pad($spacing-sm);
    max-width: $max-width-md;

    @media (min-width: $screen-sm-min) {
        @include space($spacing-xl, $spacing-md);
        @include pad(32px);
    }

    @media (min-width: $screen-md-min) {
        @include space($spacing-xl, $spacing-sm * 3);
    }

    & > h1 {
        @include font("heading-lg");
        @include swipeIn;
        position: relative;
    }

    & > p {
        @include font("body-lg");
        @include fadeUp;
        margin-top: $spacing-sm;
    }
}
