$handle: "unordered-list";

.#{$handle} {
    @include pad($spacing-sm);

    & > h2 {
        @include font("heading-md");
        @include space($spacing-sm, $spacing-md);
        border-top: 1px solid $color-br-gray-lt;
    }

    & > ul {
        & > li {
            @include space($spacing-sm, $spacing-md);
            border-top: 2px solid $color-br-gray-lt;
            display: flex;
            justify-content: space-between;
        }
    }

    &__heading-cont {
        min-width: $spacing-xl;

        & > h2 {
            @include font("heading-sm");
            margin-bottom: $spacing-xs / 2;
        }

        & > h4 {
            @include font("heading-sm");
        }

        .#{$handle}--overview & {
            @media (min-width: $screen-md-min) {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            & > h4 {
                width: 50%;
            }
        }
    }

    &__body-cont {
        padding-left: $spacing-sm;

        .#{$handle}--detail & {
            width: 75%;
        }

        .#{$handle}--overview & {
            width: 50%;
        }
    }
}
