$handle: "unordered-list";

.#{$handle} {
    @include pad($spacing-sm);

    @media (min-width: $screen-sm-min) {
        @include pad(32px);
    }

    & > h2 {
        @include font("heading-md");
        @include swipeIn;
        @include space($spacing-sm, $spacing-md);
        position: relative;

        &:before {
            @include absolute(0, 0, auto, 0);
            content: "";
            height: 2px;
            background-color: $color-br-gray-lt;
        }
    }

    & > ul {
        & > li {
            @include space($spacing-sm, $spacing-md);
            border-top: 2px solid $color-br-gray-lt;
            display: flex;
            justify-content: space-between;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @include fadeUp($i * $i * 0.035s);
                }
            }
        }
    }

    &__heading-cont {
        min-width: $spacing-xl;

        & > h2 {
            @include font("heading-sm");
            @include bold;
            @include fadeUp(150ms);
            margin-bottom: $spacing-xs / 2;

            @media (min-width: $screen-md-min) {
                padding-right: $spacing-sm;
            }
        }

        & > h4 {
            @include font("heading-sm");
            @include fadeUp(50ms);
        }

        .#{$handle}--overview & {
            @media (min-width: $screen-md-min) {
                display: flex;
                justify-content: space-between;
                width: 50%;
            }

            & > h2,
            & > h4 {
                @media (min-width: $screen-md-min) {
                    width: 50%;
                }
            }
        }
    }

    &__body-cont {
        @include fadeUp;
        padding-left: $spacing-sm;

        .#{$handle}--detail & {
            @media (min-width: $screen-md-min) {
                width: 75%;
            }
        }

        .#{$handle}--overview & {
            @media (min-width: $screen-md-min) {
                width: 50%;
            }
        }
    }
}
