/**
 * Animations
 */

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes from-left {
  from { transform: translate(-$spacing-md, $spacing-xs); }
  to { transform: translate(0, 0); }
}

@keyframes from-right {
  from { transform: translate($spacing-md, $spacing-xs); }
  to { transform: translate(0, 0); }
}

@keyframes from-bottom {
  from { transform: translateY($spacing-md); }
  to { transform: translateY(0); }
}

@keyframes scale-in {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}

/**
 * Spy mixins
 */

@mixin spy($in-view-class: "in-view") {
  opacity: 0;
  transition: opacity $animate-md;

  &.#{$in-view-class} {
    opacity: 1;
  }
}

@mixin fadeIn($handle, $in-view-class: "in-view") {
  .#{$handle}.#{$in-view-class} & {
    animation: fade-in $animate-sm;
  }
}

@mixin fromLeft($handle, $in-view-class: "in-view") {
  .#{$handle}.#{$in-view-class} & {
    animation: from-left $animate-md;
  }
}

@mixin fromRight($handle, $in-view-class: "in-view") {
  .#{$handle}.#{$in-view-class} & {
    animation: from-right $animate-md;
  }
}

@mixin fromBottom($handle, $in-view-class: "in-view") {
  .#{$handle}.#{$in-view-class} & {
    animation: from-bottom $animate-md;
  }
}

@mixin scaleIn($handle, $in-view-class: "in-view") {
  .#{$handle}.#{$in-view-class} & {
    animation: draw-down $animate-md;
  }
}

