$loading-class: "is-loading";
$unloading-class: "is-unloading";

@mixin scaleIn() {
    transform: scale(1.25);
    transition: transform $animate-xl;

    body.#{$loading-class} & {
        transform: scale(1);
    }

    body.#{$unloading-class} & {
        transform: scale(1.25);
    }
}

@mixin swipeIn($invert: false) {
    position: relative;

    &:after {
        @include fullOverlay;
        content: "";
        transform-origin: right;
        transform: scaleX(1);
        transition: transform $animate-md;
        background-color: if($invert, $color-black, $color-white);

        body.#{$loading-class} & {
            transform: scaleX(0);
        }

        body.#{$unloading-class} & {
            transform: scaleX(1);
        }
    }
}

@mixin fadeUp($delay: 0) {
    opacity: 0;
    transform: translateY($spacing-xs);
    transition: opacity $animate-lg, transform $animate-md;
    transition-delay: $delay;

    body.#{$loading-class} & {
        opacity: 1;
        transform: translateY(0);
    }

    body.#{$unloading-class} & {
        opacity: 0;
        transform: translateY($spacing-xs);
    }
}
