@mixin arrowLink($inverted: true) {
    @include tap-target;
    display: flex;
    align-items: center;
    font-weight: 500;

    & > i {
        display: inline-block;
        margin-top: $spacing-xs / 4;
        margin-left: $spacing-xs;
        fill: if($inverted, $color-br-gray-dk, $color-br-gray-lt);
        transition: transform $animate-sm;
    }

    &:hover > i {
        transform: translateX($spacing-xs / 2);
    }
}

@mixin underlineLink($active-class: "is-active") {
    @include tap-target;
    display: inline-block;
    position: relative;
    font-weight: 500;

    &:after {
        @include absolute(auto, 0, 0, 0);
        content: "";
        transform: scaleX(0);
        height: 2px;
        background-color: $color-br-gray-dk;
        transition: transform $animate-sm;
    }

    &:hover,
    &.#{$active-class} {
        &:after {
            body.#{$loading-class} & {
                transform: scaleX(1);
            }
        }
    }

    body.#{$unloading-class} & {
        &:after {
            transform: scaleX(0) !important;
        }
    }
}
