{##
 # Footer component
 # @global {GlobalSet} gFooter
 #}

{# Params #}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'footer' %}

{# Markup #}
<div id="{{ id }}" class="{{ handle }}">
</div>
