{##
 # Header component
 # @global {GlobalSet} gHeader
 #}

{# Params #}

{# Variables #}
{% set handle = 'header' %}

{# Markup #}
<div class="{{ handle }}">
    <a href="/" title="Home">
        LOGO
    </a>
    <input type="checkbox" id="nav-toggle" style="display:none" />
    <label for="nav-toggle">
        <span>Menu</span>
        <span>Close</span>
    </label>
    <nav>
        <a href="/" title="Overview">Overview</a>
        <a href="/services" title="Services">Services</a>
        <a href="/projects" title="Projects">Projects</a>
        <a href="/about" title="About Us">About Us</a>
        <a href="/contact" title="Contact">Contact</a>
    </nav>
    <footer>
        Williams Concrete offers turn-key concrete packages to meet any commercial need.
    </footer>
</div>
