{##
 # Loader component
 #}

{% import '_macros/components' as components %}

{# Variables #}
{% set id = craft.utilities.uniqueId() %}
{% set handle = 'loader' %}
{% set loadingClass = 'is-loading' %}

{# Markup #}
<div id="{{ id }}" class="{{ handle }}">
    {{ components.new(handle, {
        id: id,
        loadingClass: loadingClass,
    }) }}
</div>
