{##
 # Page heading component
 # @param {string} heading
 # @param {HTML} subheading
 #}

{# Params #}
{% set heading = heading|default('') %}
{% set subheading = subheading|default('') %}

{# Variables #}
{% set handle = 'page-heading' %}

{# Markup #}
<div class="{{ handle }}">
  <h1>{{ heading }}</h1>
  <p>{{ subheading }}</p>
</div>
