{##
 # Sticky background component
 # @param {Asset} image
 #}

{# Params #}
{% set image = image|default(null) %}

{# Variables #}
{% set handle = 'sticky-background' %}

{# Markup #}
{% if image %}
    <div class="{{ handle }}">
        <div class="{{ handle }}__image-cont">
            {% include '_components/background-image' with { url: image.url } %}
        </div>
    </div>
{% endif %}
