{##
 # About single
 # @param {Entry} entry
 #}

{# Markup #}
{% extends '_layouts/main' %}

{% block left %}
    {% include '_components/sticky-background' with {
        image: entry.backgroundImage.one(),
    } %}
{% endblock %}

{% block right %}
    <article>
        <header>
            {% include '_components/page-heading' with {
                heading: entry.pageHeading,
                subheading: entry.pageSubheading,
            } %}
        </header>

        <section>
            {% include '_components/ordered-list' with {
                heading: entry.orderedListHeading,
                items: entry.orderedListItems.all(),
            } %}
        </section>

        <section>
            {% include '_components/unordered-list' with {
                heading: entry.listHeading,
                items: entry.listItems.all(),
                type: 'detail',
            } %}
        </section>

        <section>
            {% include '_components/next-ctas' with {
                ctas: entry.nextCtas.all(),
            } %}
        </section>
    </article>
{% endblock %}
