{##
 # Contact single
 # @controller {bool} success
 # @controller {string} message
 # @controller {Form} model
 # @param {Entry} entry
 #}

{# Query #}
{% set success = craft.app.request.getQueryParam('success') %}

{# Controller #}
{% set message = message|default('') %}
{% set model = model|default(null) %}

{# Variables #}
{% set subheading = entry.pageSubheading %}
{% if message is not empty %}
    {% set subheading = message %}
{% endif %}
{% if success %}
    {% set subheading = entry.contactConfirmationMessage %}
{% endif %}

{# Markup #}
{% extends '_layouts/main' %}

{% block left %}
    {% include '_components/contact-details' with {
        heading: entry.contactHeading,
        map: entry.contactMap.one(),
        address: entry.contactAddress,
        contact: entry.contactInfo,
        hours: entry.contactHours,
    } %}
{% endblock %}

{% block right %}
    <article>
        <header>
            {% include '_components/page-heading' with {
                heading: entry.pageHeading,
                subheading: subheading,
            } %}
        </header>

        {% if not success %}
            <section>
                {% include '_components/contact-form' with {
                    model: model,
                } %}
            </section>
        {% endif %}
    </article>
{% endblock %}
