{##
 # Homepage single
 # @param {Entry} entry
 # |_@param {Assets} backgroundImage
 # |_@param {PlainText} pageHeading
 # |_@param {PlainText} pageSubheading
 # |_@param {Matrix} overviewTeasers
 #}

{# Markup #}
{% extends '_layouts/main' %}

{% block left %}
    {% include '_components/sticky-background' with {
        image: entry.backgroundImage.one(),
    } %}
{% endblock %}

{% block right %}
    <article>
        <header>
            {% include '_components/page-heading' with {
                heading: entry.pageHeading,
            } %}
        </header>

        <section>
            {% include '_components/overview-teasers' with {
                teasers: entry.overviewTeasers.all(),
            } %}
        </section>
    </article>
{% endblock %}
