{##
 # Homepage single
 # @param {Entry} entry
 # |_@param {Assets} backgroundImage
 # |_@param {PlainText} pageHeading
 # |_@param {PlainText} pageSubheading
 # |_@param {Matrix} overviewTeasers
 #}

{#
{% extends craft.app.request.isAjax() and not craft.app.request.isLivePreview() ? '_layouts/blank' : '_layouts/main' %}
#}
{% extends '_layouts/main' %}

{# Params #}
{% set backgroundImage = entry.backgroundImage.one() %}

{# Markup #}
{% block aside %}
  <aside>
    {% if backgroundImage %}
      {% include '_components/background-image' with { url: backgroundImage.url } %}
    {% endif %}
  </aside>
{% endblock %}

{% block content %}
  <article>
    <header>
      {% include '_components/page-heading' with {
        heading: entry.pageHeading,
      } %}
    </header>

    <section>
      {% include '_components/overview-teasers' with {
        teasers: entry.overviewTeasers.all(),
      } %}
    </section>
  </article>
{% endblock %}
