{##
 # Services single
 # @param {Entry} entry
 #}

{% extends '_layouts/main' %}

{# Markup #}
{% block left %}
    {% include '_components/sticky-background' with {
        image: entry.backgroundImage.one(),
    } %}
{% endblock %}

{% block right %}
    <article>
        <header>
            {% include '_components/page-heading' with {
                heading: entry.pageHeading,
                subheading: entry.pageSubheading,
            } %}
        </header>

        <section>
            {% include '_components/ordered-list' with {
                items: entry.orderedListItems.all(),
            } %}
        </section>

        <section>
            {% include '_components/next-ctas' with {
                ctas: entry.nextCtas.all(),
            } %}
        </section>
    </article>
{% endblock %}
