// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin font-size-rem($size-value: 1.6) {
    font-size: ($size-value * 10) + px;
    font-size: $size-value + rem;
}

@mixin line-height-rem($size-value: 1.6) {
    line-height: ($size-value * 10) + px;
    line-height: $size-value + rem;
}

@mixin tap-target($size: "sm") {
    display: inline-block;

    @if ($size  ==  "sm") {
        @include line-height-rem(3.6);
    } @else if ($size == "md") {
        @include line-height-rem(4.8);
    }
}

@mixin font($size) {
    font-family: $font-family-sans-md;
    font-weight: $font-weight-md;

    // Page heading
    @if ($size == "heading-lg") {
        @include font-size-rem(2.6);
        @include line-height-rem(3.2);
        letter-spacing: -0.1px;
        color: $color-bg-lt-fg-dk;
    }
    // Section heading
    @if ($size == "heading-md") {
        @include font-size-rem(2.0);
        @include line-height-rem(3.2);
        letter-spacing: -0.08px;
        color: $color-bg-lt-fg-dk;
    }
    // List headings
    @if ($size == "heading-sm") {
        @include font-size-rem(1.5);
        @include line-height-rem(2.2);
        color: $color-bg-lt-fg-md;
    }
    // Default text
    @if ($size == "body-md") {
        @include font-size-rem(1.6);
        @include line-height-rem(2.2);
        color: $color-bg-lt-fg-md;

        @media (min-width: $screen-md-min) {
            // font-weight: $font-weight-lt;
        }
    }
    // Number
    @if ($size == "number") {
        @include bold;
        @include font-size-rem(7.6);
        @include line-height-rem(7.6);
        font-weight: $font-weight-bd;
        letter-spacing: -0.2px;
    }
}

@mixin bold($serif: false, $italic: false) {
    font-weight: $font-weight-bd;

    // @if ($serif) {
        //   @if ($italic) {
            //     font-family: $font-family-serif-bd-it;
        //   } @else {
            //     font-family: $font-family-serif-bd;
        //   }
    // } @else {
        //   @if ($italic) {
            //     font-family: $font-family-sans-bd-it;
        //   } @else {
            //     font-family: $font-family-sans-bd;
        //   }
    // }
}

@mixin italic($serif: false, $weight: "md") {
    font-style: italic;

    // @if ($serif) {
        //   @if ($weight == "md") {
            //     font-family: $font-family-serif-md-it;
        //   } @else if ($weight == "bd") {
            //     font-family: $font-family-serif-bd-it;
        //   }
    // } @else {
        //   @if ($weight == "lt") {
            //     font-family: $font-family-sans-lt-it;
        //   } @else if ($weight == "md") {
            //     font-family: $font-family-sans-md-it;
        //   } @else if ($weight == "bd") {
            //     font-family: $font-family-sans-bd-it;
        //   }
    // }
}

@mixin emphasize($serif: false) {
    & > strong {
        @include bold($serif);
    }

    & > em {
        @include italic($serif);
    }

    & > strong > em,
    & > em > strong {
        @include bold($serif, true);
    }
}

